<nav class="navbar navbar-expand-lg fixed-top  bg-body-tertiary nav_personalizado"  data-bs-theme="dark">
    <div class="container-fluid">
      <a href="#" id="btn_home" >
        <img src="https://cdn-icons-png.flaticon.com/512/2983/2983067.png"  
        style="width: 50px;
              height: 50px;">
              
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="btn_info" ><h1  id = "info" class="EstiloTexto1">Home</h1></a>
          </li>
          <li class="nav-item">
            <a  id="btn_album"><h1  id = "album" class="EstiloTexto1">Album</h1></a>
          </li>
          <li class="nav-item">
            <a  id="btn_fotografias"><h1  id = "agregar" class="EstiloTexto1">Agregar Fotografias</h1></a>
          </li>
          <li class="nav-item">
            <a id="btn_editar" ><h1  id = "editar" class="EstiloTexto1">Editar</h1></a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

